<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = 'UTF-8'>
    <meta name = "viewport" content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="/static/css/style.css">
    <title> Rubber Ducky Debugger </title>
</head>
<body>
    <h1>Rubber Ducky Debugger</h1>

    <div class="duck_container">
        <pre class="ascii_duck">
            __
        ___( <span class='duck-eye'>O</span>)<span class="duck-beak">></span>
        \ <_. )
         `---‘       
        </pre>
    </div>

    <div id="chat-container">
        <div id="chat-history">

        </div>
    </div>

    <div id="input-section">
        <p>What is troubling you young one</p>
        <form id="chat-form" action="/chat" method="POST">
            <input type = 'text' name = 'message' id = 'message-input'>
            <button type = 'submit'>Submit</button>
        </form>
    </div>  
    
    <script> 
    document.getElementById('chat-form').addEventListener('submit', function(e) {
        e.preventDefault(); //prevent page reload

        const messageInput = document.getElementById('message-input');
        const userMessage = messageInput.value.trim();

        if (userMessage === '') return; // Don't send empty message

        addMessageToChat('You: ' + userMessage, 'user-message'); //add user message to chat

        messageInput.value = ''; //clear input

        sendToDuck(userMessage);
    });

   function addMessageToChat(message, className){
    const chatHistory = document.getElementById('chat-history');
    const messageDiv = document.createElement('div');
    messageDiv.className = className;
    messageDiv.textContent = message;
    chatHistory.appendChild(messageDiv);
    chatHistory.scrollTop = chatHistory.scrollHeight; //auto-scroll
   } 

   function sendToDuck(userMessage) {
    addMessageToChat('Duck is thinking...', 'duck-message');

    fetch('/chat', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: 'message=' + encodeURIComponent(userMessage)
    })
    .then(Response => Response.json())
    .then(data => {
        const chatHistory = document.getElementById('chat-history');
        chatHistory.removeChild(chatHistory.lastChild);

        addMessageToChat('🦆 ' + data.response, 'duck-message');
    })
    .catch(error => {
        console.error('Error:', error);
        addMessageToChat("sorry, i had trouble responding!", 'duck-message');
    });
   }
    </script>
</body>
</html>