<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = 'UTF-8'>
    <meta name = "viewport" content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="/static/css/style.css">
    <title> Rubber Ducky Debugger </title>
</head>
<body>
    <h1>Rubber Ducky Debugger</h1>
    <div class="duck_container">
        <pre class="ascii_duck">
            __
        ___( <span class='duck-eye'>O</span>)<span class="duck-beak">></span>
        \ <_. )
         `---‘       
        </pre>
    </div>
    <p>What is troubling you young one</p>
    <form action="/chat" method="POST">
        <input type = 'text' name = 'message'>
        <button type = 'submit'>Submit</button>
    </form>
</body>
</html>